.l-wrapper {
    max-width: 800px !important;
}
.job-link {
    width: 100%;
}
.joblink-row {
    display: flex;
    width: 100%;
}
.joblink-row div:first-of-type {
    width: 100%;
}
.joblink-row div:last-of-type {
    width: 150px;
    text-align: right;
}