.l-wrapper {
    max-width: 800px !important;
}
.job-link {
    width: 100%;
}
.joblink-row {
    display: flex;
    width: 100%;
}
.joblink-row div:first-of-type {
    width: 80%;
}
.joblink-row div:last-of-type {
    width: 20%;
    text-align: right;
}
.u-text-normal h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}