.l-wrapper {
    max-width: 800px !important;
}
.job-link {
    width: 100%;
}
.joblink-row {
    display: flex;
    width: 100%;
}
.joblink-row div:first-of-type {
    width: 80%;
}
.joblink-row div:last-of-type {
    width: 20%;
    text-align: right;
}
.u-text-normal h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-control-item__active {
    box-shadow: 0 0 1px 0 rgba(0,0,0,.21), 0 13px 33px 0 rgba(0,0,0,.16) !important;
    cursor: pointer !important;
    -webkit-transform: scale(1.01) !important;
    transform: scale(1.01) !important;
}