<p class="list-control-item list-control-item--clickable">
    <LinkTo @route="job" @model={{@job}} class="list-control-column job-link">
        <div class="joblink-header">
            <div>
                {{ @job.title }}
            </div>
            <div>
                Salary: &#x2605;
            </div>
        </div>
        <div class="joblink-header">
            <div>
                Location: Eindhoven
            </div>
            <div>
                79% match
            </div>
        </div>
    </LinkTo>
</p>