<div class="c-view-filter">
    <div class="c-view-filter--summary">
        <div class="c-action-heading c-action-heading__filter u-no-margin ">
            <div class="c-action-heading__header">
                <div class="c-action-heading__text-wrapper">
                    <h1 class="c-action-heading__header-text" title="Jobs">
                        Jobs
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="c-view-filter--search">
        <div class="c-search">
            <label class="c-search__label" for="search-input">
                <svg
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                    focusable="false"
                    aria-hidden="true"
                    data-icon="search"
                    data-prefix="far"
                    class="icon svg-inline--fa fa-search fa-w-16"
                >
                    <path
                        fill="currentColor"
                        d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"
                    />
                </svg>
            </label>
            <input placeholder="Search" class="c-search__input ember-text-field " type="search">
        </div>
    </div>
    <div class="c-view-filter--apply">
        <button class="btn btn--filter-align ">
            <svg
                style="transform-origin: 0em 0.5em;"
                viewBox="0 0 384 512"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                focusable="false"
                aria-hidden="true"
                data-icon="plus"
                data-prefix="far"
                class="svg-inline--fa fa-plus fa-w-12 fa-fw fa-lg "
            >
                <g transform="translate(192 256)">
                    <g transform="translate(-192, 0) scale(1, 1) rotate(0 0 0)">
                        <path
                            fill="currentColor"
                            d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"
                            transform="translate(-192 -256)"
                        />
                    </g>
                </g>
            </svg>
            Job
        </button>
    </div>
</div>
<div class="c-view-filter__inputs">
    <div class="c-view-filter__filters-scroll">
        <div class="c-view-filter__inputs--filters">
            <ul class="c-view-filter__inputs__list">
                <div
                    class="c-power-select c-power-select--narrow c-power-select--options-grow c-power-select--full-height c-power-select--full-mobile"
                >
                    <div
                        class="ember-basic-dropdown-trigger ember-power-select-trigger"
                        role="button"
                        tabindex="0"
                        data-ebd-id="ember183-trigger"
                        aria-owns="ember-basic-dropdown-content-ember183"
                    >
                        <span class="ember-power-select-selected-item">
                            Current
                        </span>
                        <span class="ember-power-select-status-icon" />
                    </div>
                </div>
                <div class="c-power-select c-power-select--narrow c-power-select--full-mobile">
                    <div
                        class="ember-basic-dropdown-trigger ember-power-select-trigger"
                        role="button"
                        tabindex="0"
                        data-ebd-id="ember190-trigger"
                        aria-owns="ember-basic-dropdown-content-ember190"
                    >
                        <span class="ember-power-select-placeholder">All tags</span>
                        <span class="ember-power-select-status-icon" />
                    </div>
                </div>
                <div class="c-power-select c-power-select--narrow c-power-select--full-mobile">
                    <div
                        class="ember-basic-dropdown-trigger ember-power-select-trigger"
                        role="button"
                        tabindex="0"
                        data-ebd-id="ember197-trigger"
                        aria-owns="ember-basic-dropdown-content-ember197"
                    >
                        <span class="ember-power-select-placeholder">All departments</span>
                        <span class="ember-power-select-status-icon" />
                    </div>
                </div>
                <div class="c-power-select c-power-select--narrow c-power-select--full-mobile">
                    <div
                        class="ember-basic-dropdown-trigger ember-power-select-trigger"
                        role="button"
                        tabindex="0"
                        data-ebd-id="ember204-trigger"
                        aria-owns="ember-basic-dropdown-content-ember204"
                    >
                        <span class="ember-power-select-placeholder">All locations</span>
                        <span class="ember-power-select-status-icon" />
                    </div>
                </div>
                <div
                    class="c-power-select c-power-select--narrow c-power-select--full-mobile c-view-filter__options__user-select"
                >
                    <div class="form-field ">
                        <div
                            class="ember-basic-dropdown-trigger ember-power-select-trigger u-overflow--visible"
                            role="button"
                            tabindex="0"
                            data-ebd-id="ember213-trigger"
                            aria-owns="ember-basic-dropdown-content-ember213"
                        >
                            <span class="ember-power-select-placeholder">All recruiters</span>
                            <span class="ember-power-select-status-icon" />
                        </div>
                        <div style="overflow: hidden; width: 132.406px; height: 0px;">
                            <div id="ember220" class="" style="overflow: auto;" />
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="c-view-filter__inputs--sort">
        <div id="ember221" class="c-power-select c-power-select--narrow c-power-select--full-mobile ">
            <div
                class="ember-basic-dropdown-trigger ember-power-select-trigger" role="button" tabindex="0"
                data-ebd-id="ember222-trigger" aria-owns="ember-basic-dropdown-content-ember222">
                <span class="ember-power-select-selected-item">
                    Default sorting
                </span>
                <!----><span class="ember-power-select-status-icon"></span>
            </div>
            <div id="ember-basic-dropdown-content-ember222" class="ember-basic-dropdown-content-placeholder"
                style="display: none;"></div>
        </div>
    </div>
</div>