<header class="global-header">
    <LinkTo
        title="Return to dashboard"
        @route="index"
        class="global-header__logo"
    >
        <img
            src="https://ember.cdn.teamtailor.com/ember-production/assets/images/teamtailor-t-logo-0c90dbe37f113a74ed1c9e92810d4488.svg"
            alt="Teamtailor"
        />
    </LinkTo>
    <nav class="primary-nav">
        <ul class="primary-nav__menu burger-menu--hide">
            <li class="primary-nav__list-item">
                <LinkTo
                    title="View all jobs"
                    @route="jobs"
                    class="primary-nav__link active"
                >
                    Jobs
                </LinkTo>
            </li>
        </ul>
    </nav>
    <nav class="secondary-nav">
        <ul class="secondary-nav__menu burger-menu burger-menu--hide">
            <li class="secondary-nav__list-item nav-avatar">
                <div class="c-avatar-dropdown">
                    <div
                        class="ember-basic-dropdown-trigger c-dropdown__toggle u-no-padding nav-avatar__button c-dropdown__toggle--focus-transparent btn btn-primary btn--transparent"
                        role="button"
                        tabindex="0"
                        aria-owns="ember-basic-dropdown-content-ember45"
                    >
                        <span class="u-sr-only" />
                        <div class="user-picture">
                            <div class="c-avatar-image c-avatar-image--small-medium c-avatar-image--picture">
                                <div class="u-position--relative">
                                    <img class="c-avatar-image__image" src="//robohash.org/Tim Bijnen?size=80x80">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>