<LinkTo @route="jobs">
    <div class="c-tab-pills">
        <nav class="c-tab-pills__nav">
            <ul class="c-tab-pills__list">
                <a href="/companies/PBlGebfN3PY/employees/626459" class="c-tab-pills__list-item">
                    <div class="c-tab-pills__pill active">
                        Back
                    </div>
                </a>
            </ul>
        </nav>
    </div>
</LinkTo>

<JobLink @active="true" @job={{@model}} />
<div class="tt-box-group">
    {{{@model.body}}}
</div>